#top-section {
    display: flex;
}

#rules {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.violating-node {
    transform: scale(1.3)
}

.red {
    background-color: red;
}

.black {
    background-color: black;
    color: white;
}

.rotating-node {
    /* background-color: yellow; */
    color: yellow;
}

.pivot-node {
    /* background-color: green; */
    color: green;
}

